.App {
}

.App-header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Body-wrapper {
  margin: 10px;
}

.Body-paper {
  border: 10px solid black;
  background-color: lightgreen;
}
